.container {
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  gap: 2em;

  img {
    cursor: pointer;
    &:hover {
      filter: invert(58%) sepia(54%) saturate(3249%) hue-rotate(309deg)
        brightness(99%) contrast(98%);
    }
  }
}
