html {
  height: 100%;
  background-color: var(--blackish);
  background-image: url("./assets/pattern-hills.svg"),
    url("./assets/bg-stars.svg");
  background-repeat: no-repeat, repeat;
  background-position: bottom, top;
}
